<?php

require_once '../vendor/autoload.php';

use Badgeville\Api\Cairo\Sites;
use GuzzleHttp\Client;

$params = [
    'url' => 'https://sandbox.badgeville.com/cairo',
    'apiVersion' => 'v1',
    'apiKey' => '', // get from your badgeville webdashboard
    'siteId' => '', // get from your badgeville webdashboard
];

$client = new Client([
    'base_url' => [
        "{$params['url']}/{version}/{key}/", [
            'version' => $params['apiVersion'],
            'key' => $params['apiKey'],
        ]
    ]
]);

// everything starts with a site, all other calls are related to the site
$site = new Sites($params['siteId']);
$site->setClient($client);